<ion-header class="exam-header">
  <ion-toolbar>
    <ion-title>Examinations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="exam-page">

  <!-- HERO (LIGHT & CLEAN) -->
  <!--<div class="exam-hero">
    <ion-icon name="school-outline"></ion-icon>
    <div>
      <h2>Examination Management</h2>
      <p>Create exams, assign subjects & manage marks</p>
    </div>
  </div>-->

  <!-- ACTIONS -->
  <div class="exam-actions">

    <div class="action-card"
         *ngFor="let m of menus"
         (click)="goTo(m.route)">

      <div class="left">
        <div class="icon-circle">
          <ion-icon [name]="m.icon"></ion-icon>
        </div>

        <div class="text">
          <h3>{{ m.title }}</h3>
          <span>Manage</span>
        </div>
      </div>

      <ion-icon name="chevron-forward-outline"
                class="arrow">
      </ion-icon>

    </div>

  </div>

</ion-content>
