<ion-header class="marks-header">
  <ion-toolbar>
    <ion-title>Enter Marks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="marks-page">

  <!-- SUBJECT SELECT -->
  <div class="section-card">
    <h3 class="section-title">
      <ion-icon name="book-outline"></ion-icon>
      Select Subject
    </h3>

    <ion-item>
      <ion-label position="stacked">Subject</ion-label>
      <ion-select [(ngModel)]="subjectId"
                  placeholder="Choose subject"
                  (ionChange)="loadStudents()">
        <ion-select-option *ngFor="let s of subjects"
                           [value]="s.subjectId">
          {{ s.subjectName }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <!-- STUDENT LIST -->
  <div class="section-card" *ngIf="students.length">

    <h3 class="section-title">
      <ion-icon name="people-outline"></ion-icon>
      Students
    </h3>

    <div class="student-card"
         *ngFor="let s of students">

      <!-- LEFT -->
      <div class="student-left">
        <div class="roll-circle">
          {{ s.rollNo }}
        </div>

        <div class="info">
          <div class="name">{{ s.studentName }}</div>
          <div class="sub">Roll No: {{ s.rollNo }}</div>
        </div>
      </div>

      <!-- RIGHT -->
      <div class="student-right">

        <ion-input type="number"
                   class="marks-input"
                   placeholder="Marks"
                   [(ngModel)]="s.marksObtained"
                   [disabled]="s.isAbsent">
        </ion-input>

        <!--<div class="absent-box">
          <ion-checkbox [(ngModel)]="s.isAbsent"></ion-checkbox>
          <span>Absent</span>
        </div>-->

      </div>

    </div>

  </div>

</ion-content>

<!-- FOOTER -->
<ion-footer>
  <ion-toolbar class="footer-bar">
    <ion-button expand="block"
                color="success"
                (click)="save()">
      Save Marks
    </ion-button>
  </ion-toolbar>
</ion-footer>
