<ion-header class="marks-header">
  <ion-toolbar>
    <ion-title>Enter Marks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="marks-page">

  <!-- EXAM INFO -->
  <div class="exam-info-card">
    <div class="info-row">
      <span>Exam ID</span>
      <strong>{{ examId }}</strong>
    </div>
    <div class="info-row">
      <span>Class</span>
      <strong>{{ classId }}</strong>
    </div>
    <div class="info-row">
      <span>Subject</span>
      <strong>{{ subjectId }}</strong>
    </div>
  </div>

  <!-- STUDENT LIST -->
  <div class="section-card">
    <h3 class="section-title">
      <ion-icon name="people-outline"></ion-icon>
      Students
    </h3>

    <div class="student-card"
         *ngFor="let s of students; let i = index">

      <!-- LEFT -->
      <div class="left">
        <div class="roll-circle">{{ s.rollNo }}</div>

        <div class="details">
          <div class="name">{{ s.name }}</div>
          <div class="sub">Roll No {{ s.rollNo }}</div>
        </div>
      </div>

      <!-- RIGHT -->
      <div class="right">
        <ion-input type="number"
                   placeholder="Marks"
                   [(ngModel)]="marks[i].marksObtained">
        </ion-input>
      </div>

    </div>
  </div>

</ion-content>

<!-- FOOTER -->
<ion-footer>
  <ion-toolbar class="save-footer">
    <ion-button expand="block"
                color="success"
                (click)="saveMarks()">
      Save Marks
    </ion-button>
  </ion-toolbar>
</ion-footer>
