<ion-header class="dashboard-header">
  <ion-toolbar>

    <ion-title class="header-title">
      Super Admin
    </ion-title>

    <!-- Profile avatar -->
    <div class="profile-icon" slot="end">
      <ion-avatar class="header-avatar">
        <img src="https://i.pravatar.cc/100?img=12" />
      </ion-avatar>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- SUPER ADMIN PROFILE CARD -->
  <div class="profile-header">
    <ion-avatar class="header-avatar-lg">
      <img src="https://i.pravatar.cc/150?img=12" />
    </ion-avatar>

    <div class="info">
      <h2>{{ superAdminName }}</h2>
      <p>System Administrator</p>
    </div>
  </div>

  <!-- DASHBOARD GRID -->
  <div class="dashboard-grid">

    <div class="dashboard-card"
         *ngFor="let item of dashboardItems"
         [routerLink]="item.route"
         [class.danger]="item.title === 'System Settings'">

      <div class="icon-wrapper">
        <ion-icon [name]="item.icon"></ion-icon>
      </div>

      <h3>{{ item.title }}</h3>
      <p>{{ getSubtitle(item.title) }}</p>

    </div>

  </div>

</ion-content>
