<ion-header class="dashboard-header">
  <ion-toolbar>
    <ion-title class="header-title">Admin Dashboard</ion-title>

    <div class="profile-icon" slot="end">
      <ion-avatar class="header-avatar">
        <img src="https://i.pravatar.cc/100" />
      </ion-avatar>
      <span class="profile-badge">2</span>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>

  <!-- ADMIN HEADER CARD -->
  <div class="profile-header">
    <ion-avatar class="header-avatar-lg">
      <img src="https://i.pravatar.cc/150" />
    </ion-avatar>

    <div class="info">
      <h2>{{ schoolName }}</h2>
      <p>{{ subtitle }}</p>
    </div>
  </div>

  <!-- DASHBOARD GRID -->
  <div class="dashboard-grid">

    <div class="dashboard-card"
         *ngFor="let item of dashboardItems"
         (click)="goTo(item.route)">

      <div class="icon-wrapper">
        <ion-icon [name]="item.icon"></ion-icon>
      </div>

      <p>{{ item.title }}</p>
    </div>

  </div>

</ion-content>
