<ion-content fullscreen class="login-page">

  <div class="login-container">

    <!-- LOGO / BRAND -->
    <div class="logo-section">
      <div class="logo-icon floating">
        <ion-icon name="school-outline"></ion-icon>
      </div>

      <h1>VidyaOS</h1>
      <p>Manage students, staff & academics</p>
    </div>

    <!-- LOGIN CARD -->
    <ion-card class="login-card">

      <ion-card-content>

        <!-- USERNAME -->
        <ion-item lines="none" class="input-item">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-input placeholder="Username"
                     [(ngModel)]="username">
          </ion-input>
        </ion-item>

        <!-- PASSWORD -->
        <ion-item lines="none" class="input-item">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input type="password"
                     placeholder="Password"
                     [(ngModel)]="password">
          </ion-input>
        </ion-item>

        <!-- ERROR -->
        <div class="error-text" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>

        <!-- LOGIN BUTTON -->
        <ion-button expand="block"
                    class="login-btn"
                    [disabled]="loading"
                    (click)="login()">

          <ion-spinner *ngIf="loading" slot="start"></ion-spinner>
          Login

        </ion-button>

        <div class="extra-links">
          <a>Forgot Password?</a>
        </div>

      </ion-card-content>
    </ion-card>

  </div>

  <!-- FULLSCREEN LOADING OVERLAY -->
  <div class="loading-overlay" *ngIf="loading">
    <div class="loading-box">
      <div class="loader-logo">
        <ion-icon name="school-outline"></ion-icon>
      </div>
      <p>Signing you in…</p>
    </div>
  </div>

</ion-content>
