<ion-header class="subject-header">
  <ion-toolbar>
    <ion-title>Select Subject</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="subject-page">

  <!-- EXAM INFO -->
  <div class="exam-info-card">
    <div class="info-item">
      <span>Exam</span>
      <strong>#{{ examId }}</strong>
    </div>
    <div class="info-item">
      <span>Class</span>
      <strong>{{ classId }}</strong>
    </div>
  </div>

  <!-- SUBJECTS -->
  <div class="section-card">

    <h3 class="section-title">
      <ion-icon name="book-outline"></ion-icon>
      Subjects
    </h3>

    <div class="subject-card"
         *ngFor="let s of subjects"
         (click)="selectSubject(s)">

      <div class="left">
        <div class="icon-circle">
          <ion-icon name="book-outline"></ion-icon>
        </div>

        <div class="details">
          <div class="name">{{ s.subjectName }}</div>
          <div class="sub">Tap to enter marks</div>
        </div>
      </div>

      <ion-icon name="chevron-forward-outline"
                class="chevron">
      </ion-icon>

    </div>

    <!-- EMPTY -->
    <div class="empty-state"
         *ngIf="subjects.length === 0">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <p>No subjects assigned for this class</p>
    </div>

  </div>

</ion-content>
