.card {
  background: var(--ion-color-light);
  border-radius: 14px;
  padding: 16px;
}

h2 {
  margin-bottom: 12px;
  text-align: center;
}

.warning {
  margin-top: 16px;
  display: block;
  font-size: 14px;
}
